@import url(comun.css);

/* -----------------------------ESTILOS GENERALES-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenido{
  min-height: 80vh;
}
h1 {
  margin-bottom: 15px;
}
.wrapper {
  margin: 20px;
  width: 1250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}
.cabeceraMes {
  background-color: var(--color-morado-fuerte);
}
.wrapper .cabeceraMes {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
.cabeceraMes .iconos {
  display: flex;
}
.cabeceraMes .iconos span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: white;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.iconos span:last-child {
  margin-right: -10px;
}
.cabeceraMes .iconos span:hover {
  background: var(--color-azul-medio);
}
.cabeceraMes .fecha-actual {
  font-size: 1.45rem;
  font-weight: 500;
  color: white;
}
.calendario {
  padding: 20px;
}
.calendario ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendario .dias {
  margin-bottom: 20px;
}
.calendario li {
  box-sizing: border-box;
  margin: 2px;
  color: #333;
  width: calc((100% / 7) - 4px); /* Restamos el margen izquierdo y derecho */
  font-size: 1.07rem;
}
.calendario .semanas li {
  font-weight: 500;
  cursor: default;
}
.calendario .dias li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendario li .diaActual {
  background-color: var(--color-azul-medio)  !important;
}
/* -----------------------------CAMBIO DE VISTA CON ANIMACIONES-----------------------------*/
.opciones{
  display:flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.oculto {
  display: none;
}

.mostrar {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
}
.desdeDerecha {
  animation: entrarDesdeDerecha 0.5s forwards;
}

.desdeCentro {
  animation: salirHaciaIzquierda 0.5s forwards;
}

@keyframes entrarDesdeDerecha {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes salirHaciaIzquierda {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}



/* -----------------------------VISTA TABLA-----------------------------*/
.clases,.filtro-nombre{
  margin-top: 20px;
}
.filtro-permiso{
  margin-top: 20px;
}
/* Tabla de mis clases */
.tablaClases th{
background-color: var(--color-morado-medio);
color: white;
}
.tablaClases th, .tablaClases td{
padding: 10px;
}
.tablaClases td{
background-color: var(--color-morado-suave);
}
.clasePasada {
color: white; /* Color de texto para filas pasadas */
td{
  background-color: #aaa; /* Color de fondo para filas pasadas */
}
}
.destacar {
color: var(--color-azul-fuerte);
font-weight: bold;
}
.thFecha{
  width: 150px;
}
.thHora{
  width: 85px;
}
.thLugar{
  width: 185px;
}
.thUsuario{
  width: 350px;
}
.mensaje-clases{
  text-align: center;
}
i{
  font-size: var(--size-medio-peque);
}
i:hover{
  color: var(--color-azul-fuerte);
}
.modal-buttons{
  justify-content: space-around;
  width: 100%;
  display: flex;
}
#confirmModal .modal-content{
  text-align: center;
}

/* -----------------------------VISTA CALENDARIO-----------------------------*/
.divDia {
  font-size: 1.2rem;
  margin-bottom: 5px; /* Espacio entre el día y los eventos */
  height: 25px;
  width: 100%;
  background-color: gainsboro;
}
.divEventos {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.clase {
  background-color: var(--color-morado-medio);
  color: white;
  padding: 2px;
  border-radius: 3px;
}

/* Días inactivos o fines de semana */
.dias li.inactivo {
  color: #aaa;
}
.dias li.fin-de-semana {
  background-color: var(--color-morado-suave);
  color: #aaa;
  pointer-events: none;
}
.dias li.fin-de-semana .divDia {
  background-color: #e0e0e0;
}

/* Selección de turno */
.divTurno, .divPermiso {
  background-color: var(--color-azul-medio);
  border-radius: 5px;
  padding: 20px;
  width: 330px;
}

/* Clases disponibles/ocupadas*/
.clase {
  background-color: var(--color-morado-medio);
  color: white;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}
.clase.disponible {
  background-color: var(--color-morado-medio);
  color: white;
}
.clase.ocupada{
  background-color: var(--color-azul-medio);
  cursor: cell;
}
.clase.ocupada:hover{
  background-color: var(--color-azul-fuerte);
}
/*------------MODAL DE NUEVA RESERVA------------*/
.modal {
  display: none; /* Modal oculto por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: var(--color-azul-suave);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}
.buttons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#confirmar {
  background-color: var(--color-azul-medio);
  color: black;
}
#cancelar {
  background-color: var(--color-morado-medio);
  color: white;
}
/* Buscador de usuarios*/
.usuario-resultados {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 350px;
  margin-left: 155px;
  z-index: 1000;
  display: none; /* Inicialmente oculto */
}
.usuario-item {
  padding: 8px;
  cursor: pointer;
}
.usuario-item:hover {
  background-color: #f0f0f0;
}
#usuario-busqueda{
  width:350px;
}
#lugar{
  width: 217px;
}
/* ----------MODAL DETALLES RESERVAS----------*/
.modal-detalles-reserva {
  display: none; /* Oculto por defecto */
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-detalles-content {
  padding: 10px;
}


/* --------------------------MEDIA QUERYS--------------------------*/
/* Para 1920x1080px*/
@media screen and (min-width: 1800px) {
  .contenido{
    min-height: 85vh;
  }
  #btnVistaCalendario{
    width: 350px;
  }
  .mostrar{
    margin-bottom: 400px;
  }
  .mostrar label, .mostrar input, .mostrar select{
    font-size: var(--size-medio-peque);
  }

  .tablaClases th, .tablaClases td{
    font-size: var(--size-medio-peque);
  }
  .divTurno, .divPermiso{
    width: 400px;
  }
  .divEventos div{
    font-size: var(--size-medio-peque);
  }
  .calendario .dias li{
    height: 195px;
  }
  .modal-content{
    max-width: inherit;
    width: 800px;
    p, strong{
      font-size: var(--size-medio-peque);
    
    }
  }
  #modal-message, span{
    font-size: var(--size-medio-peque);
  }
  .vistaTabla div{
    margin-top: 25px;
    input, select{
      margin-left: 10px;
      padding: 3px;
    }
  }
  i{
    font-size: var(--size-medio);
  }
  .modal-buttons{
    justify-content: space-around;
  }
  #confirmModal{
    top: -25px;
    .modal-content{
      margin-top: 400px;
    }
  }
  #lugar{
    width: 277px;
  }
  .usuario-resultados {
    margin-left: 200px;
  }
}